In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
from config import database
from config import username
from config import password
from config import hostname

In [55]:
# Read in csv
tableS1 = "finaldata/Table_S1.csv"
numberchildrenadopted = pd.read_csv(tableS1)
numberchildrenadopted.head()

   year  nsw  vic  qld  wa  sa  tas  act  nt
0  2010  167   86   40  37  30   14   11   1
1  2011  157   73   33  26  24    6   11  11
2  2012  159   45   48  42  20   14    6  14
3  2013  141   48   34  40  15   12   17  10
4  2014  148   38   38  29  17   11    9   2

In [56]:
# Check data types 
numberchildrenadopted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    9 non-null      int64
 1   nsw     9 non-null      int64
 2   vic     9 non-null      int64
 3   qld     9 non-null      int64
 4   wa      9 non-null      int64
 5   sa      9 non-null      int64
 6   tas     9 non-null      int64
 7   act     9 non-null      int64
 8   nt      9 non-null      int64
dtypes: int64(9)
memory usage: 776.0 bytes

In [6]:
# Read in csv
tableS27 = "finaldata/Table_S27.csv"
adoptionsbytype = pd.read_csv(tableS27)
adoptionsbytype.head()

,year,children_adopted_from_australia,percent_from_australia,children_adopted_from_overseas,percent_from_overseas
0,2010,169,43.8,217,56.2
1,2011,184,54.0,157,46.0
2,2012,210,60.3,138,39.7
3,2013,203,64.0,114,36.0
4,2014,209,71.6,83,28.4

In [8]:
# Check data types 
adoptionsbytype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             9 non-null      int64
 1   children_adopted_from_australia  9 non-null      int64
 2   percent_from_australia           9 non-null      float64
 3   children_adopted_from_overseas   9 non-null      int64
 4   percent_from_overseas            9 non-null      float64
dtypes: float64(2), int64(3)
memory usage: 488.0 bytes

In [44]:
# Read in csv
tableLA4 = "finaldata/Table_LA4.csv"
ageofbirthmother = pd.read_csv(tableLA4)
ageofbirthmother.head()

,year,marital_status,twenty,twentyfour,twentynine,thirtyfour,thirtynine,fourty
0,2010,Married,1,1,2,0,1,0
1,2010,Not Married,10,15,8,2,3,0
2,2011,Married,0,1,1,3,3,0
3,2011,Not Married,14,19,8,2,2,2
4,2012,Married,0,1,1,0,0,1

In [45]:
# Check data types 
ageofbirthmother.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            18 non-null     int64
 1   marital_status  18 non-null     object
 2   twenty          18 non-null     int64
 3   twentyfour      18 non-null     int64
 4   twentynine      18 non-null     int64
 5   thirtyfour      18 non-null     int64
 6   thirtynine      18 non-null     int64
 7   fourty          18 non-null     int64
dtypes: int64(7), object(1)
memory usage: 1.2+ KB

In [46]:
# Read in csv
tableOV2 = "finaldata/Table_OV2.csv"
adoptionbyageandgender = pd.read_csv(tableOV2)
adoptionbyageandgender.head()

   year     sex  one  four  nine  ten  total
0  2010    Male   44    83    29   48    204
1  2010  Female   36    76    26   44    182
2  2011    Male   27    79    36   30    172
3  2011  Female   27    66    31   45    169
4  2012    Male   27    80    49   35    191

In [47]:
# Check data types 
adoptionbyageandgender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    18 non-null     int64
 1   sex     18 non-null     object
 2   one     18 non-null     int64
 3   four    18 non-null     int64
 4   nine    18 non-null     int64
 5   ten     18 non-null     int64
 6   total   18 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.1+ KB

In [21]:
# Read in csv
tableS25 = "finaldata/Table_S25.csv"
parentrelationship = pd.read_csv(tableS25)
parentrelationship.head()

   year  step_parent  relatives  carer  other  total
0  2010           73          1     49      1    124
1  2011           52          2     70      5    129
2  2012           70          2     81      3    156
3  2013           64          2     89      2    157
4  2014           52          4     94      3    153

In [22]:
# Check data types 
parentrelationship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         9 non-null      int64
 1   step_parent  9 non-null      int64
 2   relatives    9 non-null      int64
 3   carer        9 non-null      int64
 4   other        9 non-null      int64
 5   total        9 non-null      int64
dtypes: int64(6)
memory usage: 560.0 bytes

In [23]:
# Read in csv
tableS28 = "finaldata/Table_S28.csv"
adoptiveparentrelationship = pd.read_csv(tableS28)
adoptiveparentrelationship.head()

   year  adoption_by_relatives  adoption_by_non_relatives  total
0  2010                     75                         94    169
1  2011                     59                        125    184
2  2012                     72                        138    210
3  2013                     66                        137    203
4  2014                     56                        153    209

In [24]:
# Check data types 
adoptiveparentrelationship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       9 non-null      int64
 1   adoption_by_relatives      9 non-null      int64
 2   adoption_by_non_relatives  9 non-null      int64
 3   total                      9 non-null      int64
dtypes: int64(4)
memory usage: 416.0 bytes

In [25]:
# Read in csv
tableOV1 = "finaldata/Table_OV1.csv"
typeofadoption = pd.read_csv(tableOV1)
typeofadoption.head()

   year  intercountry  local  known  total
0  2010           217     45    124    386
1  2011           157     55    129    341
2  2012           138     54    156    348
3  2013           114     46    157    317
4  2014            83     56    153    292

In [26]:
# Check data types 
typeofadoption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          9 non-null      int64
 1   intercountry  9 non-null      int64
 2   local         9 non-null      int64
 3   known         9 non-null      int64
 4   total         9 non-null      int64
dtypes: int64(5)
memory usage: 488.0 bytes

In [50]:
# Read in csv
tableS8 = "finaldata/Table_S8.csv"
intercountry_bycountryoforigin = pd.read_csv(tableS8)
intercountry_bycountryoforigin.head()

,country_of_birth,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,total
0,China,51,24,14,11,4,3,1,0,0,108
1,India,19,8,3,7,2,0,0,2,0,41
2,Philippines,37,29,20,18,22,20,18,9,15,188
3,South Korea,19,26,14,13,4,14,14,19,17,140
4,Taiwan,27,29,46,41,30,16,24,21,15,249

In [51]:
# Check data types 
intercountry_bycountryoforigin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_of_birth  8 non-null      object
 1   year_2010         8 non-null      int64
 2   year_2011         8 non-null      int64
 3   year_2012         8 non-null      int64
 4   year_2013         8 non-null      int64
 5   year_2014         8 non-null      int64
 6   year_2015         8 non-null      int64
 7   year_2016         8 non-null      int64
 8   year_2017         8 non-null      int64
 9   year_2018         8 non-null      int64
 10  total             8 non-null      int64
dtypes: int64(10), object(1)
memory usage: 832.0+ bytes

In [52]:
# Read in csv
tableS9 = "finaldata/Table_S9.csv"
intercountry_byagegroup = pd.read_csv(tableS9)
intercountry_byagegroup.head()

   year  one  four  nine  ten  total
0  2010   63   125    25    4    217
1  2011   34    91    25    7    157
2  2012   27    82    26    3    138
3  2013   16    66    31    1    114
4  2014    8    48    27    0     83

In [53]:
# Check data types 
intercountry_byagegroup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    9 non-null      int64
 1   one     9 non-null      int64
 2   four    9 non-null      int64
 3   nine    9 non-null      int64
 4   ten     9 non-null      int64
 5   total   9 non-null      int64
dtypes: int64(6)
memory usage: 560.0 bytes

In [34]:
# Read in csv
tableS13 = "finaldata/Table_S13.csv"
intercountry_bysiblinggroup = pd.read_csv(tableS13)
intercountry_bysiblinggroup.head()

   year  number_sibling_groups  children_adopted_in_sibling_group
0  2010                     15                                 35
1  2011                      8                                 18
2  2012                      9                                 19
3  2013                      9                                 18
4  2014                     11                                 23

In [35]:
# Check data types 
intercountry_bysiblinggroup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   year                               9 non-null      int64
 1   number_sibling_groups              9 non-null      int64
 2   children_adopted_in_sibling_group  9 non-null      int64
dtypes: int64(3)
memory usage: 344.0 bytes

In [41]:
# Read in csv
tablePT1 = "finaldata/Table_PT1.csv"
adoptionprocesstime = pd.read_csv(tablePT1)
adoptionprocesstime.head()

,year,age_group,months_for_approval,months_before_file_sent,months_from_file_sent_to_child_allocated,months_from_time_child_allocated_to_placed,overall_months_to_adopt
0,2010,1,13,3,22,5,53
1,2010,4,8,3,31,4,49
2,2010,9,13,3,26,7,52
3,2010,10,12,1,8,5,45
4,2011,1,7,4,13,5,31

In [37]:
# Check data types 
adoptionprocesstime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   year                                        30 non-null     int64
 1   age_group                                   30 non-null     int64
 2   months_for_approval                         30 non-null     int64
 3   months_before_file_sent                     30 non-null     int64
 4   months_from_file_sent_to_child_allocated    30 non-null     int64
 5   months_from_time_child_allocated_to_placed  30 non-null     int64
 6   overall_months_to_adopt                     30 non-null     int64
dtypes: int64(7)
memory usage: 1.8 KB

In [42]:
# Connect to postgres database
connection_string = (f'{username}:{password}@{hostname}:5432/mothersandbabies')
engine = create_engine(f'postgresql://{connection_string}')

In [54]:
# Check available tables in postgres database
engine.table_names()

['babies',
 'numberchildrenadopted',
 'adoptionsbytype',
 'mothers',
 'mothersbirthcountry',
 'birthlocation',
 'ageofbirthmother',
 'adoptionbyageandgender',
 'parentrelationship',
 'adoptiveparentrelationship',
 'typeofadoption',
 'intercountry_bycountryoforigin',
 'intercountry_byagegroup',
 'intercountry_bysiblinggroup',
 'adoptionprocesstime']

In [57]:
# Load panda's dataframe to postgres sql table
numberchildrenadopted.to_sql(name='numberchildrenadopted', con=engine, if_exists='append', index=True)

adoptionsbytype.to_sql(name='adoptionsbytype', con=engine, if_exists='append', index=True)

ageofbirthmother.to_sql(name='ageofbirthmother', con=engine, if_exists='append', index=True)

adoptionbyageandgender.to_sql(name='adoptionbyageandgender', con=engine, if_exists='append', index=True)

parentrelationship.to_sql(name='parentrelationship', con=engine, if_exists='append', index=True)

adoptiveparentrelationship.to_sql(name='adoptiveparentrelationship', con=engine, if_exists='append', index=True)

typeofadoption.to_sql(name='typeofadoption', con=engine, if_exists='append', index=True)

intercountry_bycountryoforigin.to_sql(name='intercountry_bycountryoforigin', con=engine, if_exists='append', index=True)

intercountry_byagegroup.to_sql(name='intercountry_byagegroup', con=engine, if_exists='append', index=True)

intercountry_bysiblinggroup.to_sql(name='intercountry_bysiblinggroup', con=engine, if_exists='append', index=True)

adoptionprocesstime.to_sql(name='adoptionprocesstime', con=engine, if_exists='append', index=True)

In [ ]:
# Pull info from db to create dataframes to plot

In [ ]:
# Count the total number of woman who gave birth between 2010 and 2018
# total_births = mothers_df["count"].sum()
# total_births_df = pd.DataFrame ({"Number of Woman who Gave Birth":[total_births]})

# # Display the data frame
# total_births_df

In [ ]:
# # Group data by age
# age = mothers_df.groupby("age_group")

# # Find the total count of each age
# age_count = age["count"].sum()

# # Find the percentage of each age
# age_percent = age_count/total_births*100

# # # Create a new dataframe to hold calculations for percentage and count of each gender
# age_df = pd.DataFrame({"Number of Woman who Gave Birth": age_count, "Percentage of Each Age Group 2010 - 2018": age_percent})

# # # Sort values in descedning order 
# age_df.sort_values(by=["Number of Woman who Gave Birth"], inplace = True, ascending = False)

# # # Convert Percentage of births to float, then format
# age_df["Percentage of Each Age Group 2010 - 2018"] = age_df["Percentage of Each Age Group 2010 - 2018"].astype(float).map("{:,.2f}%".format)

# # Add index name and sort by Age
# age_df.index.name = "age_group"
# age_df.sort_values(by=["age_group"], inplace = True, ascending = True)

# # # Display the data frame
# age_df

In [ ]:
# # Add Data in to show per year

# # Group data by age
# age = mothers_df.groupby(["year", "age_group"])

# # Find the total count of each age
# age_count = age["count"].sum()
# age_count
# # Find the total count of births per year
# year = mothers_df.groupby("year")
# year_count = year["count"].sum()
# # year_count

# # Find the percentage of each age
# age_percent = age_count/year_count*100

# # # # Create a new dataframe to hold calculations for percentage and count of each gender
# age_df = pd.DataFrame({"Number of Woman who Gave Birth": age_count, "Percentage per Year": age_percent})

# # # # Sort values in descedning order 
# age_df.sort_values(by=["Number of Woman who Gave Birth"], inplace = True, ascending = False)

# # # Convert Percentage of births to float, then format
# age_df["Percentage per Year"] = age_df["Percentage per Year"].astype(float).map("{:,.2f}%".format)

# # Add index name and sort by year then age_group
# age_df.sort_values(by=["year", "age_group"], inplace = True, ascending = True)

# # # Display the data frame
# age_df.tail(60)

In [ ]:
# # Average ages per year - REMOVE 0 Values first - 0 was not known information

# # Drop any 0's in the age_group column
# droped = mothers_df.loc[mothers_df["age_group"]!= "0"]

# # Group data by year
# year = droped.groupby(["year"])

# # Find the average age
# age_count = year["age_group"].mean()

# # Create a new dataframe to hold calculations for percentage and count of each gender
# avg_age = pd.DataFrame({"Average Age": age_count})

# # Add index name and sort by year then age_group
# avg_age.sort_values(by=["year"], inplace = True, ascending = True)

# # # Display the data frame
# avg_age

In [ ]:
# # Total Births Per Year 

# # Group data by year
# year = mothers_df.groupby("year")

# # Find the total sum of births for each year
# totalperyear = year["count"].sum()

# # Find the percentage of each age
# total_percent = totalperyear/total_births*100

# # Find the average age
# age_count = year["age_group"].mean()

# # # Create a new dataframe to hold calculations for percentage and count of each gender
# year_df = pd.DataFrame({"Number of Woman who Gave Birth": totalperyear, "Percentage of Each Year": total_percent, "Average Age of Mothers at Birth" : age_count})

# # # Sort values in descedning order 
# year_df.sort_values(by=["Number of Woman who Gave Birth"], inplace = True, ascending = False)

# # # Convert Percentage of births each year to float, and format. Format average age
# year_df["Percentage of Each Year"] = year_df["Percentage of Each Year"].astype(float).map("{:,.2f}%".format)
# year_df["Average Age of Mothers at Birth"] = year_df["Average Age of Mothers at Birth"].map("{:,.2f}".format)

# # Add index name and sort by year then age_group
# year_df.sort_values(by=["year"], inplace = True, ascending = True)

# # # Display the data frame
# year_df

In [ ]:
# # Drop any 0's in the age_group column
# droped = mothers_df.loc[mothers_df["age_group"]!= "0"]

# # Group data by year
# year = droped.groupby(["year"])

# # Find the average age
# age_count = year["age_group"].mean()

# # Create a new dataframe to hold calculations for percentage and count of each gender
# avg_age = pd.DataFrame({"Average Age": age_count})

# # Add index name and sort by year then age_group
# avg_age.sort_values(by=["year"], inplace = True, ascending = True)

# # # Display the data frame
# avg_age

In [ ]:
# # Count the total number of woman who gave birth between 2010 and 2018 in either private or public hospitals
# dropped = mothers_df.loc[mothers_df["topic"]== "Hospital sector"]
# dropped = dropped.loc[dropped["topic_disaggregation"]!= "Not stated"]

# # Group by private or public
# birth_locations = dropped.groupby(["topic_disaggregation"])

# birth_locations_count = birth_locations["count"].sum()

# birth_locations_df = pd.DataFrame ({"Number of Woman Who Gave Birth":birth_locations_count})

# # Display the data frame
# birth_locations_df

In [ ]:
# # Count the total number of woman who gave birth between 2010 and 2018 each year in either private or public hospitals
# dropped = mothers_df.loc[mothers_df["topic"]== "Hospital sector"]
# dropped = dropped.loc[dropped["topic_disaggregation"]!= "Not stated"]

# # Group by private or public
# birth_locations = dropped.groupby(["year", "topic_disaggregation"])

# birth_locations_count = birth_locations["count"].sum()

# birth_locations_df = pd.DataFrame ({"Number of Woman Who Gave Birth":birth_locations_count})

# # Display the data frame
# birth_locations_df

In [ ]:
# # Count the total number of indigenous woman who gave birth between 2010 and 2018
# drop = mothers_df.loc[mothers_df["topic"]== "Indigenous status (mother)"]
# # dropped = dropped.loc[dropped["topic_disaggregation"]!= "Not stated"]

# # Group by Indigenous Status
# indigenous = drop.groupby(["topic_disaggregation"])

# indigenous_status = indigenous["count"].sum()

# indigenous_df = pd.DataFrame ({"Number of Indigenous Woman Who Gave Birth":indigenous_status})

# # Display the data frame
# indigenous_df

In [ ]:
# # Count the total number of indigenous woman who gave birth between 2010 and 2018 per year
# drop = mothers_df.loc[mothers_df["topic"]== "Indigenous status (mother)"]

# # Group by year and Indigenous Status
# indigenous_year = drop.groupby(["year", "topic_disaggregation"])

# indigenous_status_year = indigenous_year["count"].sum()

# indigenous_year_df = pd.DataFrame ({"Number of Indigenous Woman Who Gave Birth":indigenous_status_year})

# # Display the data frame
# indigenous_year_df

In [ ]:
# # Count the total number of woman who gave birth in each state between 2010 and 2018
# statedropped = mothers_df.loc[mothers_df["topic"]== "State and territory of birth"]
# # dropped = dropped.loc[dropped["topic_disaggregation"]!= "Not stated"]

# # Group by state
# birth_state = statedropped.groupby(["topic_disaggregation"])

# birth_state_count = birth_state["count"].sum()

# birth_state_df = pd.DataFrame ({"Number of Woman Who Gave Birth":birth_state_count})

# # Display the data frame
# birth_state_df

In [ ]:
# # Count the total number of woman who gave birth in each state between 2010 and 2018
# statedropped = mothers_df.loc[mothers_df["topic"]== "State and territory of birth"]
# # dropped = dropped.loc[dropped["topic_disaggregation"]!= "Not stated"]

# # Group by year and state
# birth_state = statedropped.groupby(["year", "topic_disaggregation"])

# birth_state_count = birth_state["count"].sum()

# birth_state_df = pd.DataFrame ({"Number of Woman Who Gave Birth":birth_state_count})

# # Display the data frame
# birth_state_df

In [ ]:
# # Read in csv for Mothers Birth Country
# mothersbirth = "finaldata/Table_4.1.csv"
# mothersbirth_df = pd.read_csv(mothersbirth)
# mothersbirth_df.head()

In [ ]:
# # View all columns for df to decide what to keep
# mothersbirth_df.columns

In [ ]:
# # Print datatypes
# mothersbirth_df.info()

In [ ]:
# # Drop any values's in the topic column that don't relate to the mothers birth country
# dropped = mothersbirth_df.loc[mothersbirth_df["topic"]== "Country of birth (mother)"]

# # Group data by maternal country of birth
# countryofbirth = dropped.groupby("topic_disaggregation")

# # Find the total count of each mother per country
# countofmothers = countryofbirth["count"].sum()

# # Create a new dataframe to hold calculations for percentage and count of each gender
# countofmothers_df = pd.DataFrame({"number_women_gave_birth": countofmothers})


# # Add index name and sort by Age
# countofmothers_df.index.name = "maternal_birth_country"


# # Display the data frame
# countofmothers_df

In [ ]:
# # Drop any values's in the topic column that don't relate to the mothers birth country
# dropped = mothersbirth_df.loc[mothersbirth_df["topic"]== "Country of birth (mother)"]

# # Group data by maternal country of birth and year
# countryofbirth = dropped.groupby(["year", "topic_disaggregation"])

# # Find the total count of each mother per country
# countofmothers = countryofbirth["count"].sum()

# # Create a new dataframe to hold calculations for percentage and count of each gender
# countofmothers_df = pd.DataFrame({"number_women_gave_birth": countofmothers})

# # Add index name and sort by Age
# countofmothers_df.index.name = "maternal_birth_country"


# # Display the data frame
# countofmothers_df

In [ ]:
# # Read in csv for birth location
# birthlocation = "finaldata/Table_3.1.csv"
# birthlocation_df = pd.read_csv(birthlocation)
# birthlocation_df.head()

In [ ]:
# # Print datatypes
# birthlocation_df.info()

In [ ]:
# # Isolate one set of data, as data is replicated across multiple topics 
# placeofbirthfilter = birthlocation_df.loc[birthlocation_df["topic"]== "Country of birth (mother)"]

# # Find the total count of each mother that gave birth in different locations
# totalcount = placeofbirthfilter["count"].sum()
# totalcount

In [ ]:
# # Group data by place of birth
# placeofbirth = placeofbirthfilter.groupby("place_of_birth")

# # Find the total count of each mother per place of birth
# countofbirthplace = placeofbirth["count"].sum()

# # # Create a new dataframe to hold the number of women who gave birth per place of birth
# countofbirthplace_df = pd.DataFrame({"number_of_women_per_birthplace": countofbirthplace})

# # Display the data frame
# countofbirthplace_df

In [ ]:
# # Group data by year
# yearfilter = placeofbirthfilter.groupby(["year"])

# # Find the total count of each mother that gave birth in different locations each year
# totalyearcount = yearfilter["count"].sum()

# # Create a new dataframe to hold the number of women who gave birth per place of birth
# countofyear_df = pd.DataFrame({"number_of_women_per_year": totalyearcount})
# countofyear_df

In [ ]:
# # Group data by place of birth and year
# placeofbirth = placeofbirthfilter.groupby(["year", "place_of_birth"])

# # Find the total count of each mother per place of birth
# countofbirthplace = placeofbirth["count"].sum()

# # # Create a new dataframe to hold the number of women who gave birth per place of birth
# countofbirthplace_df = pd.DataFrame({"number_of_women_per_birthplace": countofbirthplace})

# # Display the data frame
# countofbirthplace_df